<footer class="container-fluid mt-auto bg-dark">
    <div class="container">
        <div id="backToTop">
            <a href="#" class="text-decoration-none" aria-label="Back to top">
                <p class="text-center my-0 py-3 text-muted">
                    Back to top
                </p>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-muted">Website based on the following APIs:</p>
            </div>
            <div class="col">
                <p class="text-muted">Random User Generator</p>
                <p class="text-muted">A free, open-source API for generating user data. Similar to Lorem Ipsum, but for people.</p>
            </div>
            <div class="col">
                <p class="text-muted">AdviceSlip</p>
                <p class="text-muted">A free API for generating inspirational advice. Similar Lorem Ipsum, just for advice.</p>
            </div>
        </div>
    </div>
</footer>